<div class="container-fluid">
    <div class="row g-1">
        <!-- opened invoices section -->
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-header pb-0">
                    <!-- <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a ng-click="setTab(1)" ng-class="{'active': selectedTab == 1}" class="nav-link"><i
                                    class="fas fa-receipt fa-lg"></i> Opened Invoices</a>
                        </li>
                        <li class="nav-item">
                            <a ng-click="setTab(2)" ng-class="{'active': selectedTab == 2}" class="nav-link"><i
                                    class="fas fa-search fa-lg"></i> Search</a>
                        </li>
                    </ul> -->
                    <h5 class="text-center"><i class="fas fa-receipt"></i> Opened Invoices</h5>
                </div>
                <div class="card-body p-0">
                    <table class="table table-sm table-hover text-center table-stripeds">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in incompleteInvoice" ng-click="selectInvoice(data)"
                                ng-class="{'table-success': selectedInvoice.invoice_ID == data.invoice_ID}">
                                <td>{{ data.invoice_ID }}</td>
                                <td>{{ data.customer_name }}</td>
                                <td>{{ data.total_price.toLocaleString() }}$</td>
                            </tr>
                            <tr ng-if="incompleteInvoice.length == 0" class="table-active">
                                <td colspan="3">No open invoices yet!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-secondary" ng-click="clearSelection()">Clear Selection</button>
                </div>
            </div>
        </div>


        <!-- invoice section -->
        <div class="col-8  mt-3">
            <!-- invoice table -->
            <div class="card">
                <div class="card-header">
                    <div class="row d-flex justify-content-between align-items-center">
                        <!-- hold invoice Button or customer name  -->
                        <div class="col-auto">
                            <button ng-show="invoice.length > 0 && !editMode" class="btn btn-warning"
                                ng-click="holdInvoice()"><i class="fas fa-pause"></i> Hold Invoice</button>

                            <h4 ng-show="editMode">{{ selectedInvoice.customer_name }}</h4>
                        </div>

                        <!-- total price -->
                        <div class="col-auto text-end">
                            <h4 class="text-primary m-0">
                                Total: {{ totalPrice.toLocaleString() }}$
                            </h4>
                            <span>{{ round(totalPrice * exchangeRate.rate_value).toLocaleString() }} L.L</span>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped text-center m-0">
                        <thead>
                            <tr>
                                <th width="14%">Barcode</th>
                                <th width="25%">Description</th>
                                <th width="10%">Discount</th>
                                <th width="15%">Unit Price</th>
                                <th width="5%">Qty</th>
                                <th width="15%">Total Price</th>
                                <th colspan="4" width="16%">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in invoice">
                                <td class="p-1">{{ data.barcode || ' --- ' }}</td>
                                <td class="p-1">{{ data.item_description }}</td>
                                <td class="p-1">{{ data.discount }}%</td>

                                <!-- unit price -->
                                <td class="p-1">{{ data.discounted_price.toLocaleString() }}$</td>

                                <!-- qty input -->
                                <td class="p-1">{{ data.qty }}</td>

                                <!-- total -->
                                <td class="p-1">
                                    {{ (data.discounted_price * data.qty).toLocaleString() }}$</td>

                                <td width="4%" ng-click="openPercentageModal($index)" class="info-hover text-info p-1">
                                    <i class="fas fa-percentage"></i></td>

                                <!-- edit price on the go -->
                                <td width="4%" ng-click="openPriceModal($index)" class="info-hover text-info p-1"><i
                                        class="fas fa-dollar"></i></td>

                                </td>
                                <!-- substract item -->
                                <td width="4%" ng-click="substractQty($index)" class="danger-hover text-danger p-1"><i
                                        class="fas fa-minus fa-lg"></i></td>

                                <!-- add item -->
                                <td width="4%" ng-click="addQty($index)" class="success-hover text-success p-1"><i
                                        class="fas fa-plus"></i>
                                </td>

                            </tr>

                            <tr ng-if="invoice.length == 0" class="table-active">
                                <td colspan="10">No Items Selected Yet!</td>
                            </tr>

                            <tr>
                                <!-- Barcode Input -->
                                <td>
                                    <form ng-submit="submitBarcode()">
                                        <input type="text" spellcheck="false"
                                            class="form-control form-control-sm posInput" id="barcodeInput"
                                            ng-model="barcodeInput" placeholder="focus to scan barcode ...">
                                    </form>
                                </td>

                                <!-- name input -->
                                <td>
                                    <form ng-submit="submitName()">
                                        <input list="itemsList" type="search"
                                            class="form-control form-control-sm posInput" id="nameInput"
                                            ng-model="inputName" placeholder="Search no barcoded items ..."
                                            spellcheck="false">
                                        <datalist id="itemsList">
                                            <option value="{{ data.item_description }}" ng-repeat="data in items">
                                                {{ data.item_ID }}</option>
                                        </datalist>
                                    </form>
                                </td>
                                <td colspan="8"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer" ng-show="invoice.length > 0">
                        <!-- checkout buttons -->
                        <div class="row" ng-if="!editMode">
                            <div class="col-auto">
                                <!-- add as debt -->
                                <button class="btn btn-danger" ng-click="openCustomerModal('debt')"><i
                                        class="fas fa-user-pen"></i>
                                    Add as Debt</button>

                                <!-- print -->
                                <button ng-show="invoice.length > 0" class="btn btn-dark" ng-click="printInvoice()"><i
                                        class="fas fa-print"></i> Print</button>

                                <!-- clear -->
                                <button ng-show="invoice.length > 0" class="btn btn-secondary"
                                    ng-click="clearInvoice()"><i class="fas fa-times"></i> Clear</button>

                            </div>
                            <div class="col-auto ms-auto">
                                <!-- checkout -->
                                <button ng-show="invoice.length > 0" class="btn btn-success" ng-click="checkout()"><i
                                        class="fas fa-cart-arrow-down"></i>
                                    Checkout</button>
                            </div>
                        </div>

                        <!-- edit mode buttons -->
                        <div class="row" ng-if="editMode">
                            <div class="col-auto">
                                <button class="btn btn-success" ng-click="confirmEdit()"><i class="fas fa-edit"></i>
                                    Confirm Edit</button>
                                <button class="btn btn-secondary" ng-click="cancelEdit()"><i class="fas fa-times"></i>
                                    Cancel Edit</button>
                            </div>

                            <!-- complete invoice -->
                            <div class="col-auto ms-auto">
                                <button class="btn btn-danger" ng-click="completeInvoice()"><i class="fas fa-check"></i>
                                    Complete Invoice</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- paused invoices tabs -->
            <div class="row d-flex mt-4">
                <div class="col-auto" ng-repeat="tab in invoicesOnHold">
                    <div class="btn-group" role="group">
                        <button ng-click="switchHoldedInvoice($index)"
                            ng-class="{'active': selectedTab == ($index + 1)}"
                            class="btn btn-outline-success btn-lgs"><i class="fas fa-receipt"></i> invoice
                            {{ tab[0] + 1 }}</button>
                        <button ng-click="deleteInvoice($index)" class="btn btn-outline-danger"><i
                                class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Edit price modal -->
<div class="modal fade" id="priceModal" tabindex="-1">
    <div class="modal-dialog modal-lgs">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Price</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submitNewValue()">
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <label>Selected Item Price</label>
                            <br>
                            <label>{{ dataToEdit.unit_price.toLocaleString() }}$
                                <span class="text-danger"
                                    ng-if="dataToEdit.currency == 'euro'">({{ dataToEdit.original_price.toLocaleString() }}€)
                                </span>
                            </label>
                        </div>
                    </div>

                    <br>
                    <label>New Value</label>
                    <input type="number" step="0.01" class="form-control" ng-model="priceModalData.newValue"
                        id="newValue" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- percentage modal -->
<div class="modal fade" id="percentageModal" tabindex="-1">
    <div class="modal-dialog modal-lgs">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Price</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submitNewPercentage()">
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <label>Selected Item Price</label>
                            <br>
                            <label>{{ dataToEdit.unit_price.toLocaleString() }}$
                                <span class="text-danger"
                                    ng-if="dataToEdit.currency == 'euro'">({{ dataToEdit.original_price.toLocaleString() }}€)
                                </span>
                            </label>
                        </div>
                    </div>

                    <br>
                    <label>New Value</label>
                    <input type="number" step="0.01" class="form-control" ng-model="percentageModalData.newValue"
                        id="newPercentage" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- choose customer Modal -->
<div class="modal fade" id="customerModal" tabindex="-1">
    <div class="modal-dialog modal-lgs">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Choose Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submitCustomerModal()">
                <div class="modal-body">
                    <select id="customer_select" class="form-select" ng-model="selectedCustomer">
                        <option value="">Select Customer:</option>
                        <option ng-repeat="data in customers" value="{{ data.customer_ID }}">{{ data.customer_name }}
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- return items modal -->
<div class="modal fade" id="returnModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Return Items</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form ng-submit="submitReturn()">
                <div class="modal-body">
                    <table class="table table-borderless table-sm text-center">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in itemsToReturn">
                                <td>{{ data.item_description }}</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm text-center" value="1"
                                        min="0" max="{{ data.qty }}" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-times"></i>
                        Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>